<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211204060949-63bnq95ltpctg3sdghahul0r0og7792f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211204060949-63bnq95ltpctg3sdghahul0r0og7792f</string>
	<key>API_KEY</key>
	<string>AIzaSyBNzfehqLTrOO1HpDey3cGBp_DJxXFroHU</string>
	<key>GCM_SENDER_ID</key>
	<string>211204060949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myWedding</string>
	<key>PROJECT_ID</key>
	<string>myweddingday-5580a</string>
	<key>STORAGE_BUCKET</key>
	<string>myweddingday-5580a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211204060949:ios:8b819746f98a9911addb1c</string>
	<key>DATABASE_URL</key>
	<string>https://myweddingday-5580a-default-rtdb.firebaseio.com</string>
</dict>
</plist>